<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FIREBASE_ANALYTICS_COLLECTION_DEACTIVATED</key>
	<true/>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1052817730839-s4d8me7oebmqd5dcmjnuq0bidggm4a8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052817730839-s4d8me7oebmqd5dcmjnuq0bidggm4a8p</string>
	<key>API_KEY</key>
	<string>AIzaSyBQYwg0AABFvlQDwEOQZoRdY4HuB5s3QpE</string>
	<key>GCM_SENDER_ID</key>
	<string>1052817730839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.shadowsockssw</string>
	<key>PROJECT_ID</key>
	<string>shadowsockssw</string>
	<key>STORAGE_BUCKET</key>
	<string>shadowsockssw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052817730839:ios:dbc66cf856d83c4f</string>
	<key>DATABASE_URL</key>
	<string>https://shadowsockssw.firebaseio.com</string>
</dict>
</plist>
