//
//  PacketTunnelProvider.release.xcconfig
//  ShadowsocksSW
//
//  Created by Xuhui on 16/9/14.
//  Copyright © 2016年 Xuhui. All rights reserved.
//
#include "Pods/Target Support Files/Pods-SW-PacketTunnelProvider/Pods-SW-PacketTunnelProvider.release.xcconfig"
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) BADVPN_BREACTOR_BADVPN BADVPN_FREEBSD BADVPN_THREADWORK_USE_PTHREAD BADVPN_THREAD_SAFE=1 BADVPN_USE_KEVENT BADVPN_USE_SYSLOG BADVPN_LITTLE_ENDIAN BADVPN_LIBTSOCKS TUNNEL_PROVIDER=1

USER_HEADER_SEARCH_PATHS = $(inherited) "$(SRCROOT)/third_party/wukong_base/" "$(SRCROOT)/third_party/wukong_base/third_party/libuv/libuv/include" "$(SRCROOT)/third_party/tun2socks-iOS" "$(SRCROOT)/third_party/tun2socks-iOS/lwip/src/include" "$(SRCROOT)/third_party/tun2socks-iOS/lwip/custom" "$(SRCROOT)/third_party/tun2socks-iOS/lwip/src/include/ipv4" "$(SRCROOT)/third_party/tun2socks-iOS/lwip/src/include/ipv6"
