//
//  PacketTunnelProvider.release.xcconfig
//  ShadowsocksSW
//
//  Created by Xuhui on 16/9/14.
//  Copyright © 2016年 Xuhui. All rights reserved.
//
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) BADVPN_BREACTOR_BADVPN BADVPN_FREEBSD BADVPN_THREADWORK_USE_PTHREAD BADVPN_THREAD_SAFE=1 BADVPN_USE_KEVENT BADVPN_USE_SYSLOG BADVPN_LITTLE_ENDIAN BADVPN_LIBTSOCKS
HEADER_SEARCH_PATHS = $(inherited) "${PODS_ROOT}/Headers/Public" "${PODS_ROOT}/Headers/Public/CocoaAsyncSocket" "${PODS_ROOT}/Headers/Public/MMWormhole" "${PODS_ROOT}/Headers/Public/OpenSSL"
LIBRARY_SEARCH_PATHS = $(inherited) "${PODS_ROOT}/OpenSSL/lib" $(inherited) "${PODS_ROOT}/OpenSSL/lib"
OTHER_CFLAGS = $(inherited) -isystem "${PODS_ROOT}/Headers/Public" -isystem "${PODS_ROOT}/Headers/Public/CocoaAsyncSocket" -isystem "${PODS_ROOT}/Headers/Public/MMWormhole" -isystem "${PODS_ROOT}/Headers/Public/OpenSSL"
OTHER_LDFLAGS = $(inherited) -ObjC -l"CocoaAsyncSocket" -l"MMWormhole" -l"crypto" -l"ssl" -framework "CFNetwork" -framework "Foundation" -framework "Security" -framework "WatchConnectivity"
PODS_ROOT = ${SRCROOT}/Pods